---
// Redirects /docs/ to the actual documentation location
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Redirecting to CalorieBot Documentation</title>
  <meta http-equiv="refresh" content="0;url=/getting-started/" />
  <script is:inline>
    window.location.pathname = "/getting-started/";
  </script>
</head>
<body>
  <p>Redirecting to <a href="/getting-started/">documentation</a>...</p>
</body>
</html>